NODE_REGION=uk
NODE_COUNTRY=GB
NODE_CITY=London

NODE_NAME=nexa-uk-01
NODE_PROVIDER=CHANGE_ME

VPN_INTERFACE=wg0
VPN_ADDRESS=10.0.0.1/24
VPN_PORT=51820

VPN_PROTOCOLS=wireguard
DNS_ADDRESS=10.0.0.1

NODE_ENABLED=true
NODE_MAINTENANCE=false
