NODE_REGION=usa
NODE_COUNTRY=US
NODE_CITY=New_York

NODE_NAME=nexa-us-01
NODE_PROVIDER=CHANGE_ME

VPN_INTERFACE=wg0
VPN_ADDRESS=10.0.0.1/24
VPN_PORT=51820

VPN_PROTOCOLS=wireguard
DNS_ADDRESS=10.0.0.1

NODE_ENABLED=true
NODE_MAINTENANCE=false
